rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para la colección "noticias"
    match /noticias/{docId} {
      allow read: if true;  // ✅ Cualquiera puede leer noticias
      allow create, update, delete: if request.auth != null;  // Solo usuarios autenticados pueden agregar, editar o eliminar


    }
    
    // Reglas para la colección "profesionales"
    match /profesionales/{docId} {
      allow read;
      allow write: if request.auth != null;  // Solo usuarios autenticados pueden escribir
    }

        // Permite leer solo si está autenticado
    match /usuarios/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId;
    }  
  }
}